# build artifacts
node_modules
package-lock.json
#dist
.DS_Store
# env
.vscode
# symlinks for context
.obsidian
.smart-connections
.env
obsidian-plugins
notes
vec_lite
sc-desktop
smart-collections
obsidian-localhost
smart-plugins
smart-chunks
smart-embed
sc-v1
obsidian-1
dist