# build artifacts
node_modules
package-lock.json
#dist
.DS_Store
# env
.vscode
# symlinks for context
obsidian-plugins
notes
vec_lite
sc-desktop
.obsidian
smart-collections
.smart-connections
obsidian-localhost
smart-plugins
smart-chunks
.env
smart-embed
sc-v1
obsidian-1
dist