.sc-list .tree-item-self {
  display: block;
  cursor: pointer;
}
.sc-list .tree-item-self small {
  color: var(--color-gray-40);
}
.sc-brand {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0.5em;
  font-size: 0.77rem;
  background-color: var(--titlebar-background);
}
.sc-context {
  color: var(--nav-item-color);
  font-size: var(--nav-item-size);
  margin: 0.5em 0.5em 1em;
}