.sc-list .tree-item-self {
  display: block;
  cursor: pointer;
}
.sc-list .tree-item-self small {
  color: var(--color-gray-40);
}
.sc-brand {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--titlebar-background);
}
.sc-brand > svg, .sc-brand > p {
  display: inline;
  margin: 0 0.1rem 0 0.3rem;
  font-size: 0.77rem;
  line-height: 1;
  color: var(--tab-text-color-focused-active-current);
  height: 0.88rem;
  width: auto;
}
.sc-context {
  color: var(--nav-item-color);
  font-size: var(--nav-item-size);
  margin: 0.5em 0.5em 1em;
}