<div class="sc-change">
  <div class="sc-variation">
    <div class="new-content"></div>
    <button>Accept</button>
  </div>
  <div class="sc-variation">
    <div class="old-content"></div>
    <button>Reject</button>
  </div>
  <div class="sc-change-footer">
    <i>Time saved: <%= time_saved %></i>
    <%- this.attribution %>
  </div>
</div>

