<div class="sc-change">
  <div class="actions">
    <button>Accept</button>
    <button>Reject</button>
    <button>Show Old</button>
    <button style="display: none;">Hide Old</button>
    <div>Time saved: <%= time_saved %></div>
    <%- this.attribution %>
  </div>
  <div class="old-content" style="display: none;"></div>
  <div class="new-content"></div>
</div>

