<h2>Blocks</h2>
<% if(note.blocks.length === 0) { %>
  <p>No blocks</p>
<% } %>
<% for(let block of note.blocks.sort((a, b) => a.line_start - b.line_start)) { %>
<p>
  <%- block.sub_key.split("#").join(" > ") + " (" + block.size + " chars; lines: " + block.line_start + "-" + block.line_end + ")" %>
  <br>
  <%- block.should_embed ? "<span style='color: green;'>should embed</span>" : "<span style='color: orange;'>embedding skipped</span>" %>
</p>
<blockquote>
  <%- (await block.read())
    .replace(/</g, "&lt;")
    .replace(/>/g, "&gt;")
    .replace(/\n/g, "<br>")
    .replace(/\t/g, "&nbsp;&nbsp;")
  %>
</blockquote>
<hr>
<% } %>

