.source-inspector {
  background-color: var(--background-secondary-alt);
  margin: var(--size-4-3) 0;
  padding: var(--size-4-3);
  border-radius: var(--radius-m);
}

.source-inspector-blocks-container {
  margin-top: var(--size-4-2);
  display: flex;
  flex-direction: column;
  gap: var(--size-4-3);
}

.source-inspector-blocks-container blockquote {
  margin-left: var(--size-4-3);
  padding-left: var(--size-4-3);
  border-left: 2px solid var(--text-faint);
}
