.sc-brand {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--titlebar-background);
}
.sc-brand {
  > svg, > p {
    display: inline;
    margin: 0 0.1rem 0 0.3rem;
    font-size: 0.77rem;
    line-height: 1;
    color: var(--tab-text-color-focused-active-current);
    height: 0.88rem;
    width: auto;
  }
  > p > a {
    color: var(--tab-text-color-focused-active-current);
  }
}
.sc-context {
  color: var(--nav-item-color);
  font-size: var(--nav-item-size);
  margin: 0.5em 0.5em 1em;
  width: 100%;
}

div[data-type="smart-connections-view"] > .view-content {
  #settings {
    position: fixed;
    bottom: 0;
    background-color: var(--background-primary-alt);
    left: 0;
    padding: var(--size-4-4);
    max-width: 100%;
    max-height: 50%;
    overflow-y: auto;

    .setting-item {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
.sc-list {

  .tree-item-self {
    cursor: pointer;
  }
  .tree-item-self small {
    color: var(--color-gray-40);
  }
  > .sc-collapsed ul {
    display: none;
  }
  > .sc-collapsed span svg {
    transform: rotate(-90deg);
  }
  > :not(.sc-collapsed) span svg {
    transform: rotate(0deg);
  }
  > div span svg {
    height: auto;
    margin: auto 0.5em auto 0;
    flex: none;
  }
  > div > span {
    display: inline-flex;
    width: 100%;
    padding-left: 0;
  }
  > div ul {
    margin: 0;
    padding-left: 1.3rem;
  }
  > div > a {
    display: block;
  }
  > div > ul > li {
    display: block;
  }
  .search-result {
    cursor: pointer;
    background: transparent;
    padding: var(--nav-item-padding);
    padding-left: 10px;
    margin-bottom: 1px;
    align-items: baseline;
    border-radius: var(--radius-s);
    font-weight: var(--nav-item-weight);
  }
  .search-result:hover {
    color: var(--nav-item-color-active);
    background-color: var(--nav-item-background-active);
    font-weight: var(--nav-item-weight-active);  
  }
  .search-result span {
    color: var(--h5-color);
  }
  .search-result small {
    color: var(--h5-color);
    font-size: 0.8rem;
    font-weight: 500;
  }
  .search-result p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

}

/* Only on right sidebar */
.mod-right-split .sc-list .search-result {
  font-size: var(--font-text-size);
  font-size: 0.88rem;
}
.sc-top-bar {
  display: flex;
  width: 100%;
  justify-content: end;

  .search-input-container {
    width: calc(100% - var(--size-4-8));
    margin: 4px auto;
  }
}

/* Chat */
.sc-top-bar-container {
  align-self: flex-end;
  display: flex;
  width: 100%;

  .sc-chat-name-input{
    flex-grow: 1;
  }
}
.sc-chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding: 10px;
}
.sc-chat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: text;
}
.sc-message-container {
  /* border: 1px solid var(--blockquote-border-color); */
  border: 1px solid var(--divider-color);
  border-radius: 10px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.sc-message {
  max-width: 90ch;
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  word-break: break-word;

  &.user {
    /* background-color: #333;
    color: #fff; */
    align-self: flex-end;
    background-color: var(--background-modifier-form-field);
    color: var(--text-normal);
    align-self: flex-end;
    border: var(--input-border-width) solid var(--background-modifier-border);
  }

  &.assistant, &.system {
    background-color: var(--nav-item-background-active);
    color: var(--text-normal);
  }
}
.sc-system {
  align-self: center;
  font-style: italic;
  color: var(--text-faint);
}


.sc-message-content {
  margin: 0;

  > * p {
    margin: 10px;
  }
}

.sc-chat-form {
  display: flex;
  padding: 0 10px 1rem 0;
  width: 100%;
  max-height: 50%;
}

.sc-chat-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: none;
  height: auto;
  max-height: 100%;
  border: 1px solid var(--blockquote-border-color);
}

.send-button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.sc-msg-button {
  cursor: pointer;
  float: right;
  margin-left: 5px;
  opacity: 0.8;
}
.sc-msg-button:hover {
  opacity: 1;
}
#sc-abort-button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
#sc-abort-button:hover {
  background-color: var(--nav-item-background-active);
}
.sc-change{
  border: var(--blockquote-border-color);
  border-width: var(--border-width);
  border-style: solid;
  border-radius: var(--callout-radius);
  padding: 1ch;
  .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > * {
      display: inline-block;
      color: var(--text-normal);
      font-size: var(--font-ui-small);
    }
    .sc-brand {
      position: unset;
      background-color: var(--background-primary);
    }
  }
  .old-content{
    color: var(--text-muted);
    text-decoration: line-through;
  }
}

/* V2 */
.sc-list .search-result li h1,
.sc-list .search-result li h2,
.sc-list .search-result li h3,
.sc-list .search-result li h4,
.sc-list .search-result li h5,
.sc-list .search-result li h6 {
  margin-block-start: calc(var(--p-spacing)/2);
  margin-block-end: calc(var(--p-spacing)/2);
}
.sc-list .search-result li h1 {
  font-size: 1.3rem;
}
.sc-list .search-result li h2 {
  font-size: 1.25rem;
}
.sc-list .search-result li h3 {
  font-size: 1.2rem;
}
.sc-list .search-result li h4 {
  font-size: 1.15rem;
}
.sc-list .search-result li h5 {
  font-size: 1.1rem;
}
.sc-list .search-result li h6 {
  font-size: 1.05rem;
}

.notice .sc-notice-actions{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.sc-chat-container {
  #settings {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }
}

